node_modules
build/
dist/
public/
release-notes/

scripts/
tests/
archive/

app/routes/home/home.tsx
app/routes/home/home.module.css

.vscode
.cache
.dns
.wrangler
.firebase
.firebaserc
firebase-debug.log

*.env*
*.dev.vars
*.toml*
*.jsonc*
app/config
app/config-example
app/components/turnstile/keys.json
app/components/turnstile/keys.json.example
