.content {
  background: color-mix(in lab, var(--backgroundLight) 95%, transparent);
  border-radius: var(--spaceXS);
  padding: var(--space2XL);
  box-shadow: 0 var(--spaceXS) var(--spaceL) color-mix(in lab, var(--black) 10%, transparent);
  line-height: var(--lineHeightBody);
}

.content h1 {
  font-size: var(--fontSizeH4);
  margin-bottom: var(--spaceM);
  color: var(--textTitle);
}

.content p {
  margin-bottom: var(--spaceM);
  color: var(--textBody);
}

.section {
  margin-bottom: var(--space2XL);
}

.section h2, 
.section h3,
.section h4 {
  color: var(--textTitle);
  margin-bottom: var(--spaceM);
}

.section h2 {
  font-size: var(--fontSizeH5);
}

.section h3 {
  font-size: var(--fontSizeBodyXL);
  margin-top: var(--spaceXL);
}

.section h4 {
  font-size: var(--fontSizeBodyL);
}

.section p, 
.section ul {
  margin-bottom: var(--spaceM);
  color: var(--textBody);
}

.section ul {
  padding-left: var(--spaceXL);
  list-style-type: disc;
}

.section li {
  margin-bottom: var(--spaceS);
  color: var(--textBody);
}

.lastUpdated {
  color: var(--textLight);
  font-size: var(--fontSizeBodyXS);
  margin-bottom: var(--space2XL);
}

.cookieDeclarationDialogText,
.cookieDeclarationIntro,
.cookieDeclarationLastUpdated {
  margin: 0 0 var(--spaceM) 0;
}

.cookieDeclarationType {
  display: block;
  margin: var(--spaceM) 0;
  padding: var(--spaceM) var(--spaceM) 0 var(--spaceM);
  border: 1px solid color-mix(in lab, var(--textLight) 60%, transparent);
  border-radius: var(--space2XS);
  vertical-align: top;
}

.cookieDeclarationTypeHeader {
  font-weight: var(--fontWeightBold);
}

.cookieDeclarationTypeDescription {
  margin: var(--space2XS) 0 var(--spaceL) 0;
}

.cookieDeclarationTable {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 var(--spaceL) 0;
}

.cookieColName {
  width: 20%;
}

.cookieColProvider {
  width: 20%;
}

.cookieColPurpose {
  width: 35%;
}

.cookieColExpiry {
  width: 15%;
}

.cookieColType {
  width: 10%;
}

.cookieDeclarationTableHeader {
  font-weight: var(--fontWeightBold);
  border-bottom: 1px solid color-mix(in lab, var(--textLight) 70%, transparent);
  text-align: left;
  padding: var(--space2XS);
  overflow: hidden;
  color: var(--textTitle);
}

.cookieDeclarationTableCell {
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  border-bottom: 1px solid color-mix(in lab, var(--textLight) 70%, transparent);
  vertical-align: top;
  padding: var(--space2XS);
  color: var(--textBody);
}

@media (max-width: 1296px) {
  .logo {
    display: none;
  }

  .returnLink {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    padding: var(--spaceM);
  }
  
  .content {
    padding: var(--spaceXL);
  }
}

@media (max-width: 600px) {
  .cookieDeclarationTable tr td:nth-child(n + 5),
  .cookieDeclarationTable tr th:nth-child(n + 5),
  .cookieDeclarationTable colgroup col:nth-child(n + 5) {
    display: none;
  }
}