{
  "name": "TURNSTILE_WORKER_NAME",
  "account_id": "ACCOUNT_ID",
  "main": "src/turnstile.ts",
  "compatibility_date": "2026-03-01",
  "compatibility_flags": [
    "nodejs_compat"
  ],

  "observability": { 
	"enabled": true
  },

  "routes": [
    {
      "pattern": "TURNSTILE_WORKER_DOMAIN",
      "custom_domain": true
    }
  ],

  "placement": { "mode": "smart" }
}