{
  "name": "AUDIT_WORKER_NAME",
  "account_id": "ACCOUNT_ID",
  "main": "src/audit-worker.ts",
  "workers_dev": false,
  "compatibility_date": "2026-06-20",
  "compatibility_flags": [
    "nodejs_compat"
  ], 
  
  "observability": { 
	"enabled": true
  },

  "r2_buckets": [
    {
      "binding": "STRIAE_AUDIT",
      "bucket_name": "AUDIT_BUCKET_NAME"
    },
    {
      "binding": "STRIAE_CONFIG",
      "bucket_name": "CONFIG_BUCKET_NAME"
    }
  ],

  "placement": { "mode": "smart" }
}